.Product-Name,.Price,.Buy-Button
{
	font-family: days-one-n4, sans-serif;
}

.ts03-Body-Sans-Wide
{
	font-family: droid-sans-n4, sans-serif;
}

.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.Headline,.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

#u5012-4,#u4998-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4999-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5008-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5009-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5001-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5011-4
{
	font-family: open-sans-n3, sans-serif;
}

#u4996-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5005-4
{
	font-family: open-sans-n3, sans-serif;
}

#u5004-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu4997_input,#widgetu4997_prompt,#widgetu5006_input,#widgetu5006_prompt,#widgetu5002_input,#widgetu5002_prompt
{
	font-family: open-sans, sans-serif;
}

