#u4285
{
	position: relative;
	background: transparent url("../images/swu.jpg") no-repeat left top;
	background-size: contain;
}

#u1562-4_img,#u1560-4_img,#u1561-4_img
{
	display: block;
	vertical-align: top;
}

#u1557
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #67ABEA url("../images/twitter.png") no-repeat center center;
}

#u1559
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #DD4139 url("../images/pinterest.png") no-repeat center center;
}

#u1558
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #5067C4 url("../images/facebook.png") no-repeat center center;
}

#u1557:hover,#u1559:hover,#u1558:hover
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u1556
{
	border-color: #000000;
	background-color: #000000;
}

#u1562-4,#u1560-4,#u1561-4,#u1556_align_to_page
{
	position: relative;
}

#menuu1563
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1578,#u1579
{
	background-color: transparent;
	position: relative;
}

#u1581
{
	vertical-align: top;
	position: relative;
	background: url("../images/u1581.png") no-repeat 0px 0px;
}

#u1579:hover #u1581
{
	background: url("../images/u1581-r.png") no-repeat 0px 0px;
}

#u1564,#u1565
{
	background-color: transparent;
	position: relative;
}

#u1566
{
	vertical-align: top;
	position: relative;
	background: url("../images/u1566.png") no-repeat 0px 0px;
}

#u1565:hover #u1566
{
	background: url("../images/u1566-r.png") no-repeat 0px 0px;
}

#u1585,#u1586
{
	background-color: transparent;
	position: relative;
}

#u1587
{
	vertical-align: top;
	position: relative;
	background: url("../images/u1587.png") no-repeat 0px 0px;
}

#u1586:hover #u1587
{
	background: url("../images/u1587-r.png") no-repeat 0px 0px;
}

#u1592,#u1593
{
	background-color: transparent;
	position: relative;
}

#u1596
{
	vertical-align: top;
	position: relative;
	background: url("../images/u1596.png") no-repeat 0px 0px;
}

#u1593:hover #u1596
{
	background: url("../images/u1596-r.png") no-repeat 0px 0px;
}

#u1599,#u1600
{
	background-color: transparent;
	position: relative;
}

#u1602
{
	vertical-align: top;
	position: relative;
	background: url("../images/u1602.png") no-repeat 0px 0px;
}

#u1600:hover #u1602
{
	background: url("../images/u1602-r.png") no-repeat 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

