.version.tech_gadgets /* version checker */
{
	color: #0000E3;
	background-color: #884FC2;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1050px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 11px;
	padding-bottom: 49px;
	width: 0.01px;
}

#pu4285
{
	width: 0.01px;
	margin-left: -67px;
}

#u4285
{
	z-index: 41;
	width: 100px;
	height: 100px;
	margin-right: -10000px;
}

#u1562-4
{
	z-index: 6;
	width: 240px;
	margin-right: -10000px;
	margin-top: 27px;
	left: 109px;
}

#u5024
{
	z-index: 42;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 799px;
}

#u1557
{
	z-index: 3;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 869px;
}

#u1559
{
	z-index: 5;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 939px;
}

#u1558
{
	z-index: 4;
	width: 60px;
	height: 58px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 1007px;
}

#u5024:hover,#u1557:hover,#u1559:hover,#u1558:hover
{
	width: 60px;
	height: 58px;
	min-height: 0px;
	margin: 23px -10000px 0px 0px;
}

#u1556
{
	z-index: 2;
	min-height: 43px;
	padding-bottom: 8px;
}

#u1556_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1020px;
	left: -100px;
}

#menuu1563
{
	z-index: 10;
	width: 980px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 120px;
}

#u1578
{
	width: 161px;
	min-height: 34px;
	margin-right: -10000px;
}

#u1579
{
	width: 161px;
	padding-bottom: 15px;
}

#u1579:hover
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u1564
{
	width: 161px;
	min-height: 34px;
	margin-right: -10000px;
	left: 163px;
}

#u1565
{
	width: 161px;
	padding-bottom: 15px;
}

#u1579.MuseMenuActive,#u1565.MuseMenuActive
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u1581,#u1566
{
	height: 19px;
	width: 161px;
	margin-right: -10000px;
	top: 7px;
}

#u1585
{
	width: 162px;
	min-height: 34px;
	margin-right: -10000px;
	left: 326px;
}

#u1586
{
	width: 162px;
	padding-bottom: 15px;
}

#u1592
{
	width: 162px;
	min-height: 34px;
	margin-right: -10000px;
	left: 490px;
}

#u1593
{
	width: 162px;
	padding-bottom: 15px;
}

#u1599
{
	width: 162px;
	min-height: 34px;
	margin-right: -10000px;
	left: 654px;
}

#u1600
{
	width: 162px;
	padding-bottom: 15px;
}

#u4627
{
	width: 162px;
	min-height: 34px;
	margin-right: -10000px;
	left: 818px;
}

#u4630
{
	width: 162px;
	padding-bottom: 15px;
}

#u1586.MuseMenuActive,#u1593.MuseMenuActive,#u1600.MuseMenuActive,#u4630.MuseMenuActive
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u1587,#u1596,#u1602,#u4633
{
	height: 19px;
	width: 162px;
	margin-right: -10000px;
	top: 7px;
}

#u1556-bw
{
	z-index: 2;
	min-height: 43px;
	margin-top: 15px;
}

#slideshowu2186
{
	z-index: 149;
	width: 0.01px;
	height: 304px;
	margin-left: 20px;
	margin-top: 22px;
	position: relative;
}

#u2190
{
	position: absolute;
	width: 670px;
	height: 304px;
	background-color: transparent;
}

#u2190popup
{
	z-index: 150;
}

#u2203
{
	z-index: 151;
	width: 670px;
	height: 304px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2203_img
{
	padding-top: 42px;
	padding-bottom: 41px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2183
{
	z-index: 140;
	width: 300px;
	border-color: #000000;
	background-color: #29ABE2;
	padding-bottom: 116px;
	margin-left: 700px;
	top: -304px;
	margin-bottom: -304px;
	position: relative;
}

#u5397
{
	z-index: 165;
	width: 253px;
	min-height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 137px;
	left: 81px;
}

#u2182
{
	z-index: 139;
	width: 976px;
	border-width: 2px;
	border-style: solid;
	border-color: #F12900;
	background-color: #F7F7F7;
	padding-bottom: 3px;
	margin-left: 20px;
	margin-top: 9px;
	position: relative;
}

#u2184-4
{
	z-index: 141;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 21px;
}

#u2185-4
{
	z-index: 145;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 181px;
}

#u4224-4
{
	z-index: 153;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 324px;
}

#ppu2140
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 32px;
}

#u2140
{
	z-index: 67;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2143
{
	z-index: 68;
	width: 228px;
	border-width: 1px;
	border-style: solid;
	border-color: #B5D6E2;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u2144
{
	z-index: 69;
	width: 220px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u2144_img
{
	padding-top: 39px;
	padding-bottom: 71px;
}

#u2142-4
{
	z-index: 71;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 16px;
	position: relative;
}

#u2141-4
{
	z-index: 75;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#u5211
{
	z-index: 158;
	width: 147px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 42px;
}

#u2175
{
	z-index: 127;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2176
{
	z-index: 128;
	width: 228px;
	border-width: 1px;
	border-style: solid;
	border-color: #B5D6E2;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u2179
{
	z-index: 129;
	width: 220px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u2178-4
{
	z-index: 131;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 16px;
	position: relative;
}

#u2181-4
{
	z-index: 135;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#u5215
{
	z-index: 160;
	width: 147px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 41px;
}

#u2126
{
	z-index: 43;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2129
{
	z-index: 44;
	width: 228px;
	border-width: 1px;
	border-style: solid;
	border-color: #B5D6E2;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u2131
{
	z-index: 45;
	width: 220px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u2131_img
{
	padding-top: 31px;
	padding-bottom: 32px;
}

#u2130-4
{
	z-index: 47;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 16px;
	position: relative;
}

#u2127-4
{
	z-index: 51;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#u2154
{
	z-index: 91;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u2155
{
	z-index: 92;
	width: 228px;
	border-width: 1px;
	border-style: solid;
	border-color: #B5D6E2;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u2159
{
	z-index: 93;
	width: 220px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u2156-4
{
	z-index: 95;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 16px;
	position: relative;
}

#u2157-4
{
	z-index: 99;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#u5209
{
	z-index: 157;
	width: 147px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 42px;
}

#u5213
{
	z-index: 159;
	width: 147px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 541px;
}

#ppu2161
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 20px;
}

#pu2140,#pu2161
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 250px;
}

#u2161
{
	z-index: 103;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2162
{
	z-index: 104;
	width: 228px;
	border-width: 1px;
	border-style: solid;
	border-color: #B5D6E2;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u2164
{
	z-index: 105;
	width: 220px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u2163-4
{
	z-index: 107;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 16px;
	position: relative;
}

#u2167-4
{
	z-index: 111;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#u5219
{
	z-index: 162;
	width: 147px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 42px;
}

#pu2175,#pu2133
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 750px;
}

#u2133
{
	z-index: 55;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2139
{
	z-index: 56;
	width: 228px;
	border-width: 1px;
	border-style: solid;
	border-color: #B5D6E2;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u2137
{
	z-index: 57;
	width: 220px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u2137_img
{
	padding-top: 39px;
	padding-bottom: 38px;
}

#u2135-4
{
	z-index: 59;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 16px;
	position: relative;
}

#u2136-4
{
	z-index: 63;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#u5223
{
	z-index: 164;
	width: 147px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 41px;
}

#u2147
{
	z-index: 79;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 500px;
}

#u2150
{
	z-index: 80;
	width: 228px;
	border-width: 1px;
	border-style: solid;
	border-color: #B5D6E2;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u2152
{
	z-index: 81;
	width: 220px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u2152_img
{
	padding-top: 42px;
	padding-bottom: 43px;
}

#u2148-4
{
	z-index: 83;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 16px;
	position: relative;
}

#u2149-4
{
	z-index: 87;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#u2168
{
	z-index: 115;
	width: 230px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2169
{
	z-index: 116;
	width: 228px;
	border-width: 1px;
	border-style: solid;
	border-color: #B5D6E2;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u2143_position_content,#u2176_position_content,#u2129_position_content,#u2155_position_content,#u2162_position_content,#u2139_position_content,#u2150_position_content,#u2169_position_content
{
	padding-top: 3px;
	padding-bottom: 58px;
}

#u2172
{
	z-index: 117;
	width: 220px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#u2172_img
{
	padding-top: 48px;
	padding-bottom: 48px;
}

#u2170-4
{
	z-index: 119;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 16px;
	position: relative;
}

#u2171-4
{
	z-index: 123;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 6px;
	position: relative;
}

#u5217
{
	z-index: 161;
	width: 147px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 42px;
}

#u5221
{
	z-index: 163;
	width: 147px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 308px;
	left: 541px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

